body {
  background-color: #f6f8fa;
  font-family: sans-serif;
}

h1 {
  color: #1f03d6;
  text-decoration: underline;
  padding-bottom: 4px;
}

pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

pre:hover {
  transform: scale(1.02);
}

blockquote {
  border-left: 4px solid #0366d6;
  padding-left: 10px;
  color: #6a737d;
  font-style: italic;
  background-color: inherit;
}

.alert {
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}
.spoiler{
  margin: 10px 0;
  color: black;
  background-color: #d1d2d4;
  border-radius: 8px;
  padding: 10px;
}

.spoiler details summary {
  cursor: pointer;
  background-color: #e2e3e5;
  padding: 8px;
  border-radius: 4px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spoiler details{
  opacity: 0;
}
.spoiler details[open] {
  opacity: 1;
}




